{% extends "base.html" %}

{% block 'titulo' %}Lista de Departamentos{% endblock %}

{% block 'content' %}
    <h1 class="text-3xl font-semibold text-gray-900 mb-8">Lista de Departamentos</h1>

    {% if departments %}
        <div class="overflow-x-auto bg-white  rounded-lg">
            <table class="min-w-full border border-gray-200 divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Nome</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Ações</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for department in departments %}
                        <tr class="hover:bg-gray-50">
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="{% url 'assets_TrackerApp:department_detail' department.id %}" class="text-blue-600 hover:text-blue-900">
                                    {{ department.name }}
                                </a>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap gap-4">
                                <a href="{% url 'assets_TrackerApp:department_update' department.id %}" class="text-indigo-600 hover:text-indigo-900 mr-3">
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                                <a href="{% url 'assets_TrackerApp:department_delete' department.id %}" class="text-red-600 hover:text-red-900">
                                    <i class="fas fa-trash"></i> Excluir
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="bg-blue-100 text-blue-800 px-4 py-3 rounded-lg">Nenhum departamento encontrado.</p>
    {% endif %}

    <a href="{% url 'assets_TrackerApp:department_create' %}" 
       class="mt-4 inline-block bg-green-600 text-white font-semibold px-4 py-2 rounded-lg hover:bg-green-700 transition">
        + Adicionar Novo Departamento
    </a>
{% endblock %}
